body{
  font-family: Arial, Helvetica, sans-serif;
  border: none;

}

.login{
  display:flex;
  justify-content: center;
  align-items: center;
  font-family: "Arial";
  padding-top: 12px;
}
.entire-page{
  max-width: 65vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:auto;
  border-radius: 17px;
  margin-top:20vh ;
  box-shadow: 1px 0 10px rgba(0,0,0,0.5);
 background-color: rgb(255, 255, 255);
position: relative;

}
.login-image{
 width: 30vh;
}
.background-image{
 
  position: absolute;
  display: flex;

}
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

button {
  background-color: #2494fd;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin-top:-5vh;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
  box-shadow: 1px 0 2px rgba(0,0,0,0.5);
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  margin-top: 35px;
  padding-bottom: 15px;
  font-weight: bold;
}

.psw-link{
  text-decoration: none;
  color: black;
}



/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  .entire-page{
    margin-top: 15%;
    max-width: 43vh;

  }
  .login-image{
    width: 10v;
  }
  }
  .cancelbtn {
     width: 100%;
  }
